/*
Tea Cozy Project
style.class
Michael Seeman
8-Jan-2018
*/

body {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

.logo {
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

header nav span {
  padding-right: 10px;
}

header nav span a {
  color: seashell;
}

/***** Content container for Mission, Features, Locations and Contact *****/

.contents {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: 2143px;
  margin-top: 69px;
  align-items: center;
}

/***** Mission *****/

.mission {
  display: flex;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center center;
  background-size: auto auto;
  justify-content: center;
  align-items: center;
}

/* Banners for both Mission and Featured Items */
.banner {
  display: flex;
  width: 1200px;
  height: 100px;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  align-items: center;
}

.banner-headline {
  display: flex;
  align-items: center;
  height: auto;
}

.banner-text {
  display: flex;
  align-items: center;
  height: auto;
}

/***** Featured Items *****/

.featured {
  display: flex;
  width: 1200px;
  height: 710px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Obvious hack -- had trouble using margin to adjust
   top and bottom margins */
.space {
  display: flex;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

.featured-row-one {
  display: flex;
  width: 1000px;
  height: 250px;
  justify-content: space-between;
}

.featured-row-two {
  display: flex;
  width: 650px;
  height: 250px;
  justify-content: space-between;
}

.featured-item {
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: column;
  align-items: center;
}

.featured-image {
  display: flex;
  width: 300px;
  height: 200px;
  background-size: cover;
}

.berryblitz.featured-image {
  background-image: url("../images/img-berryblitz.jpg");
}

.spicedrum.featured-image {
  background-image: url("../images/img-spiced-rum.jpg");
}

.donut.featured-image {
  background-image: url("../images/img-donut.jpg");
}

.myrtle.featured-image {
  background-image: url("../images/img-myrtle-ave.jpg");
}

.bedford.featured-image {
  background-image: url("../images/img-bedford-bizarre.jpg");
}

.featured-text {
  display: flex;
  width: 300px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/***** Locations *****/

.locations {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
  background-position: center top;
  background-size: 100% 140%;
}

.locations-banner {
  display: flex;
  width: 1200px;
  height: 33px;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 15px;
}

.locations-row {
  display: flex;
  width: 980px;
  height: 248px;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 248px;
  justify-content: space-around;
  background-color: black;
  opacity: 1.0;
}

.location-line {
  display: flex;
  width: 300px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

/***** Contact Information *****/

.contact {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 200px;
  justify-content: space-around;
  margin: 0 auto;
}

.contact-line {
  display: flex;
  width: 1200px;
  height: 33px;
  justify-content: center;
  align-items: center;
}

/***** Footer -- copyright info *****/

.footer {
  display: flex;
  width: 1200px;
  height: 22px;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
}
